.headerBlock{
    display: block;
    position: static;
    height: 70px;
    width: 100%;
    color: #02027e;
    background-color: #e2a5fa;
}
.headerInfo{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.headerButton{
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #02027e;
    background-color: #e2a5fa;
    border: none;
}
.mainBlock{
    width: 100%;
}